.desc {
    margin-top: 250px;
    color: white;
    margin-left: 620px;
    font-size: xx-large;
    font-weight: 700;
}

.login2  {
    position: absolute;
    margin-left: 269px;
    width: 12vh;
    height: 3vmax;
    margin-top: -50px;
    background-color: #2b3341;
    color: #F1F2FF;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.signup2{
    position: absolute;
    margin-left: 400px;
    width: 12vh;
    height: 3vmax;
    margin-top: -50px;
    background-color: #2b3341;
    color: #F1F2FF;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
  } 